In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

напишіть функцію гіпотези лінійної регресії у векторному вигляді;

In [21]:
def h(X,w):
    return np.dot(X,w)

In [22]:
df = pd.read_csv("Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [23]:
df = df[["price", "area", "bedrooms", "bathrooms"]]
df

        price  area  bedrooms  bathrooms
0    13300000  7420         4          2
1    12250000  8960         4          4
2    12250000  9960         3          2
3    12215000  7500         4          2
4    11410000  7420         4          1
..        ...   ...       ...        ...
540   1820000  3000         2          1
541   1767150  2400         3          1
542   1750000  3620         2          1
543   1750000  2910         3          1
544   1750000  3850         3          1

[545 rows x 4 columns]

створіть функцію для обчислення функції втрат у векторному вигляді;

In [24]:
def loss_func(X, y, w):
    m = len(y)
    predictions = h(X, w)
    return (1/(2*m)) * np.sum((predictions - y) ** 2)

реалізуйте один крок градієнтного спуску;

In [25]:
def gradient_descent_step(X, y, w, learning_rate):
    m = len(y)
    predictions = h(X, w)
    error = predictions - y
    gradient = (1/m) * np.dot(X.T, error)
    
    return w - learning_rate * gradient

знайдіть найкращі параметри w⃗w
 для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень;

In [26]:
def fit_gradient_descent(X, y, w, learning_rate, iterations):
    cost_history = []
    for i in range(iterations):
        w = gradient_descent_step(X, y, w, learning_rate)
        cost_history.append(loss_func(X, y, w))
    return w, cost_history

знайдіть ці ж параметри за допомогою аналітичного рішення;

In [27]:
def analytic_calc(X, y):
    return np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

порівняйте отримані результати.

Нормалізація даних

In [28]:
def normalization(data):

  mean = np.mean(data)
  value_range = np.max(data) - np.min(data)
  result = []
  for x in data:
    norm_x = (x-mean) / value_range
    result.append(norm_x)

  return result

In [29]:
norm = pd.DataFrame()
norm['price'] = normalization(df.price)
norm['area'] = normalization(df.area)
norm['bedrooms'] = normalization(df.bedrooms)
norm['bathrooms'] = normalization(df.bathrooms)
norm.head()

      price      area  bedrooms  bathrooms
0  0.738811  0.155977  0.206972   0.237920
1  0.647902  0.261818  0.206972   0.904587
2  0.647902  0.330547  0.006972   0.237920
3  0.644872  0.161475  0.206972   0.237920
4  0.575175  0.155977  0.206972  -0.095413

In [48]:
X = norm[['area', 'bedrooms', 'bathrooms']].values
y = norm['price'].values.reshape(-1, 1)

X_b = np.c_[np.ones((X.shape[0], 1)), X]


w_start = np.random.randn(X_b.shape[1], 1)
learning_rate = 0.00001
iterations = 10000


w_final, cost_history = fit_gradient_descent(X_b, y, w_start, learning_rate, iterations)

w_normal = analytic_calc(X_b, y)

print("Параметры, отримані з допомогою градієнтного спуску:", w_final.ravel())
print("Параметры, отримані з допомогою аналітичного рішення:", w_normal.ravel())

Параметры, отримані з допомогою градієнтного спуску: [ 0.18651793 -0.5137648   1.84807588 -1.51487234]
Параметры, отримані з допомогою аналітичного рішення: [3.24718551e-17 4.77142690e-01 1.76112569e-01 3.60012857e-01]